@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
}

* {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
.poppins{
    font-family: 'Poppins', sans-serif;
}

.header-custom {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    position: relative;
}

.sidenav-custom {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}